@model List<WebSale.Models.CartItem>
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div id="listcart">
    @if (Model != null && Model.Count > 0)
    {
<div class="login-nav-top mt-5 mt-lg-0">
            <div class="container">
                <ul class="mt-3 mt-lg-0">
                    <li>
                        <a href="index.html">Trang chủ</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-chevron-right"></i>
                        <a href="login.html">Giỏ hàng</a>
                    </li>
                </ul>
            </div>
        </div><div class="container my-5 bg-white p-3 rounded-3">
            <div class="row">
                <div class="col-12 mb-3 d-none d-lg-block">
                    <a class="text-danger text-decoration-none delete-all-cart" role="button"
                       title="Xoá tất cả">
                        Xoá tất cả
                    </a>
                </div>
                <div class="col-lg-8">
                    @if (Session["gift"] == null)
                    {
                        foreach (var item in ViewBag.gift)
                        {
                            <div class="gift p-3 mb-3" style="--bgGift: #fee2e2;">
                                <div class="align-items-lg-center align-items-start d-flex gap-3">
                                    <div>
                                        <img src="@item.image"
                                             class="img-fluid">
                                    </div>
                                    <div class="d-flex flex-column pl-2 pl-lg-3">
                                        <div class="mb-2 title_gift">
                                            Mua tối thiểu
                                            <b>3,000,000₫</b> để nhận <b>
                                               @item.nameProduct
                                            </b>
                                            miễn phí
                                        </div>
                                        @{
                                            decimal total = Model.Sum(cartItem => cartItem.price * cartItem.quantity);
                                        }
                                        <span type="button" class="">
                                            <button class="btn btn-danger btn-gift-add" @(total < 3000000 ? "disabled" : "") data-product-id="@item.productId">
                                                Nhận ngay
                                            </button>
                                        </span>

                                    </div>
                                </div>
                            </div>
                        }
                    }
                    @if (Model == null || Model.Count < 0)
                    {
                        <p>@ViewBag.warning</p>
                    }
                    else
                    {
                        <div class="cartContainer">
                            @foreach (var item in Model)
                            {
                                <div class="p-4 border rounded-4 position-relative mb-3">
                                    <div class="align-items-lg-center d-flex gap-3">
                                        <div class>
                                            <img src="@item.image"
                                                 alt class="img-fluid" width="70px">
                                        </div>
                                        <div class="pl-2 pl-lg-3 w-100">
                                            <p class="text-color fw-bold m-0">
                                                @item.Name
                                            </p>
                                            <span>
                                                @item.mausac
                                            </span>
                                            <div class="d-flex justify-content-between w-100 mt-2">
                                                @if (Session["gift"] != null && (int)Session["gift"] == item.Id)
                                                {
                                                    <p>Miễn phí</p>
                                                }
                                                else
                                                {
                                                    <div class="d-flex">
                                                        <button class="position-relative px-3 py-1 rounded-5 border-0 minusCount" data-image-id="@item.ImageId"  data-product-id="@item.Id" data-quantity="@item.quantity">-</button>
                                                        <input class="position-relative rounded-5 border-0 text-center quantity-input" value="@item.quantity" style="max-width: 2rem; font-size: 13px;" />
                                                        <button class="position-relative px-3 py-1 rounded-5 border-0 addCount" data-image-id="@item.ImageId" data-product-id="@item.Id" data-quantity="@item.quantity">+</button>
                                                    </div>
                                                }
                                                <div>
                                                    <span class="fs-5 fw-bold text-color price-item-cart" data-product-id="@item.Id" data-image-id="@item.ImageId">
                                                        @((item.price * item.quantity).ToString("#,0"))₫
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" data-product-id="@item.Id" data-image-id="@item.ImageId"
                                            class="text-main position-absolute top-0 start-100 translate-middle bg-danger text-white border-0 delete-cart"
                                            style="font-size: 13px; border-radius: 50%; width: 24px; height: 24px;">
                                        X
                                    </button>

                                </div>
                            }
                        </div>
                    }
                    <div class="mt-3">
                        <label class="fw-bold">Ghi chú đơn hàng</label>
                        <textarea class="form-control rounded-3" id="note"
                                  name="note" rows="4"></textarea>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="free-gifts p-2 mt-4">
                        <legend class="d-inline-block pl-3 pr-3 mb-0 bg-light">
                            <img alt="Code Ưu Đãi"
                                 src="//theme.hstatic.net/200000823693/1001172883/14/gift.gif?v=978">
                            Code Ưu Đãi
                        </legend>
                        <div class="item pb-2 ">
                            <span class="d-block">
                                <small>
                                    Nhập mã
                                    <b>Mew2023</b> để được giảm ngay 120k
                                    (áp dụng cho
                                    các đơn hàng trên 500k)
                                </small>
                            </span>
                            <copy-text class="btn mb-2 mt-1 btn-sm m_copy text-white font-weight-bold pl-2 pr-2 d-inline-block"
                                       data-text="Mew2023">
                                Lưu mã
                            </copy-text>
                            <span class="d-block">
                                <small>
                                    Nhập mã
                                    <b>Mew2023</b> để được giảm ngay 120k
                                    (áp dụng cho
                                    các đơn hàng trên 500k)
                                </small>
                            </span>
                            <copy-text class="btn mb-2 mt-1 btn-sm m_copy text-white font-weight-bold pl-2 pr-2 d-inline-block"
                                       data-text="Mew2023">
                                Lưu mã
                            </copy-text>
                            <span class="d-block">
                                <small>
                                    Nhập mã
                                    <b>Mew2023</b> để được giảm ngay 120k
                                    (áp dụng cho
                                    các đơn hàng trên 500k)
                                </small>
                            </span>
                            <copy-text class="btn mb-2 mt-1 btn-sm m_copy text-white font-weight-bold pl-2 pr-2 d-inline-block"
                                       data-text="Mew2023">
                                Lưu mã
                            </copy-text>
                            <span class="d-block">
                                <small>
                                    Nhập mã
                                    <b>Mew2023</b> để được giảm ngay 120k
                                    (áp dụng cho
                                    các đơn hàng trên 500k)
                                </small>
                            </span>
                            <copy-text class="btn mb-2 mt-1 btn-sm m_copy text-white font-weight-bold pl-2 pr-2 d-inline-block"
                                       data-text="Mew2023">
                                Lưu mã
                            </copy-text>
                        </div>
                    </div>
                    <dl class="bg-light border my-3 p-2 p-lg-3 rounded-4">
                        <dt class="text-uppercase fw-bold">Tổng tiền</dt>
                        <dd class="fw-bold text-main fs-4 totalPrice">
                            @if (Model != null)
                            {
                                decimal total = Model.Sum(cartItem => cartItem.price * cartItem.quantity);
                                @total.ToString("#,0");
                            }
                            else
                            {
                                <span>0</span>
                            }₫
                        </dd>
                    </dl>
                    <a href="/ThanhToan/Index" class="d-none d-lg-inline-block text-white btn btn-danger rounded-3 mb-0 mb-lg-3 text-uppercase fw-bold py-2 py-lg-3 px-3 px-lg-4">
                        Thanh toán ngay
                    </a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-md-12 text-center">
                    <img src="https://cdn2.cellphones.com.vn/x,webp/media/cart/Cart-empty-v2.png" alt="" width="250px">
                    <p>
                    <p class="m-0">  Giỏ hàng của bạn đang trống.</p>
                        Hãy chọn thêm sản phẩm để mua sắm nhé
                    </p>
                    <div class="container mt-5">
                        <a href="/" class="custom-home mb-5 text-decoration-none d-inline-block">Quay lại trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
