@model WebSale.Models.Blog

@{
    ViewBag.Title = "Thêm bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}
@using (Html.BeginForm("addBaiVietPost", "BaiViet", FormMethod.Post , new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal p-2 container">
    <h4>Bài viết</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.tieu_de, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.tieu_de, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tieu_de, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.slug, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.slug, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.slug, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.dang_boi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dang_boi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dang_boi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.content, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.content, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.content, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label>Danh mục</label>
            <select name="danh_muc_id" class="form-control">
                @if (ViewBag.listcategory != null)
                {
                    foreach (var item in ViewBag.listcategory)
                    {
                        <option value="@item.id">@item.ten</option>
                    }
                }
                else
                {
                    <option value="">No categories available</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label>Hình ảnh</label>
            <div>
                <input type="file" name="file" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thêm bài viết" class="btn btn-primary" />
        </div>
    </div>
</div>
}