@model WebSale.Models.ThongSoKyThuat

@{
    ViewBag.Title = "Thông sô kỹ thuật";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}
<div class="p-2">
    <a href="/Admin/ThongSoKyThuat/addThongSo" class="btn btn-success mb-3">Thêm thông số kỹ thuật</a>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Thông số kỹ thuật</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead class="thead-light">
                        <tr class="text-center">
                            <th class="font-weight-bold text-primary text-nowrap text-truncate" style="width: 10%;">Công nghệ màn hình</th>
                            <th class="font-weight-bold text-primary text-nowrap text-truncate" style="width: 5%;">Độ phân giải</th>
                            <th class="font-weight-bold text-primary text-nowrap text-truncate" style="width: 5%;">Màn hình rộng</th>
                            <th class="font-weight-bold text-primary text-nowrap text-truncate" style="width: 5%;">Tính năng màn hình</th>
                            <th class="font-weight-bold text-primary text-nowrap" style="width: 5%;">Tần số quét</th>
                            <th class="font-weight-bold text-primary text-nowrap text-truncate" style="width: 10%;">Camera sau</th>
                            <th class="font-weight-bold text-primary text-nowrap text-truncate" style="width: 5%;">Độ phân giải camera sau</th>
                            <th class="font-weight-bold text-primary text-nowrap" style="width: 5%;">Quay phim</th>
                            <th class="font-weight-bold text-primary text-nowrap" style="width: 5%;">Đèn flash</th>
                            <th class="font-weight-bold text-primary text-nowrap text-truncate" style="width: 5%;">Tính năng camera sau</th>
                            <th class="font-weight-bold text-primary text-nowrap text-truncate" style="width: 5%;">Camera trước</th>
                            <th class="font-weight-bold text-primary text-nowrap text-truncate" style="width: 5%;">Độ phân giải camera trước</th>
                            <th class="font-weight-bold text-primary text-nowrap" style="width: 5%;">Hệ điều hành</th>
                            <th class="font-weight-bold text-primary text-nowrap" style="width: 5%;">CPU</th>
                            <th class="font-weight-bold text-primary text-nowrap" style="width: 5%;">RAM</th>
                            <th class="font-weight-bold text-primary text-nowrap" style="width: 5%;">Bộ nhớ trong</th>
                            <th class="font-weight-bold text-primary text-nowrap" style="width: 5%;">Mạng di động</th>
                            <th class="font-weight-bold text-primary text-nowrap" style="width: 5%;">SIM</th>
                            <th class="font-weight-bold text-primary text-nowrap" style="width: 5%;">Wi-Fi</th>
                            <th class="font-weight-bold text-primary text-nowrap" style="width: 5%;">GPS</th>
                            <th class="font-weight-bold text-primary text-nowrap" style="width: 5%;">Bluetooth</th>
                            <th class="font-weight-bold text-primary text-nowrap" style="width: 5%;">Cổng sạc</th>
                            <th class="font-weight-bold text-primary text-nowrap" style="width: 5%;">Jack tai nghe</th>
                            <th class="font-weight-bold text-primary text-nowrap" style="width: 5%;">Kết nối khác</th>
                            <th class="font-weight-bold text-primary text-nowrap" style="width: 5%;">Dung lượng pin</th>
                            <th class="font-weight-bold text-primary text-nowrap" style="width: 5%;">Công nghệ pin</th>
                            <th class="font-weight-bold text-primary text-nowrap" style="width: 5%;">Bảo mật nâng cao</th>
                            <th class="font-weight-bold text-primary text-nowrap" style="width: 5%;">Tính năng đặc biệt</th>
                            <th class="font-weight-bold text-primary text-nowrap" style="width: 5%;">Kháng nước, bụi</th>
                            <th class="font-weight-bold text-primary text-nowrap" style="width: 5%;">Ghi âm</th>
                            <th class="font-weight-bold text-primary text-nowrap" style="width: 5%;">Radio</th>
                            <th class="font-weight-bold text-primary text-nowrap" style="width: 5%;">Định dạng xem phim</th>
                            <th class="font-weight-bold text-primary text-nowrap" style="width: 5%;">Định dạng nghe nhạc</th>
                            <th class="font-weight-bold text-primary text-nowrap" style="width: 5%;">Trạng thái</th>
                            <th class="font-weight-bold text-primary">Quản lý</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            <tr class="text-center">
                                <td>@Model.screenTechnology</td>
                                <td>@Model.screenResolution</td>
                                <td>@Model.screenSize</td>
                                <td>@Model.screenFeatures</td>
                                <td>@Model.refreshRate</td>
                                <td>@Model.rearCamera</td>
                                <td>@Model.rearCameraResolution</td>
                                <td>@Model.videoRecording</td>
                                <td>@Model.flash</td>
                                <td>@Model.rearCameraFeatures</td>
                                <td>@Model.frontCamera</td>
                                <td>@Model.frontCameraResolution</td>
                                <td>@Model.operatingSystem</td>
                                <td>@Model.cpu</td>
                                <td>@Model.ram</td>
                                <td>@Model.internalStorage</td>
                                <td>@Model.mobileNetwork</td>
                                <td>@Model.sim</td>
                                <td>@Model.wifi</td>
                                <td>@Model.gps</td>
                                <td>@Model.bluetooth</td>
                                <td>@Model.chargingPort</td>
                                <td>@Model.headphoneJack</td>
                                <td>@Model.otherConnections</td>
                                <td>@Model.batteryCapacity</td>
                                <td>@Model.batteryTechnology</td>
                                <td>@Model.advancedSecurity</td>
                                <td>@Model.specialFeatures</td>
                                <td>@Model.waterResistance</td>
                                <td>@Model.recording</td>
                                <td>@Model.radio</td>
                                <td>@Model.movieFormats</td>
                                <td>@Model.musicFormats</td>
                                <td><span style="font-size: 14px" class="text-white p-1 rounded @(Model.status == 1 ? "bg-success" : "bg-danger")">@(Model.status == 1 ? "Active" : "UnActive")</span></td>
                                <td>
                                    <a href="/Admin/ThongSoKyThuat/updateThongSo?id=@Model.specificationId" class="btn btn-warning btn-sm">Edit</a>
                                    <a href="/Admin/ThongSoKyThuat/deleteThongSo?id=@Model.specificationId" class="btn btn-danger btn-sm mt-2">Delete</a>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <div class="alert alert-warning">Dữ liệu đang cập nhật!</div>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

