@model WebSale.Models.User
@{
    ViewBag.Title = "Tài khoản";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="login-nav-top mt-5 mt-lg-0">
    <div class="container">
        <ul class="mt-3 mt-lg-0">
            <li>
                <a href="<?= base_url('/'); ?>">Trang chủ</a>
            </li>
            <li>
                <i class="fa-solid fa-chevron-right"></i>
                <a href="<?= base_url('index.php/account'); ?>">Tài khoản</a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row mt-3">
        <div class="col-12 col-lg-8 mb-5">
            <div class="row">
                <div class="col-6">
                    <a href="/lichsudonhang" class="text-decoration-none text-color">
                        <div class="history d-flex flex-column align-items-center justify-content-center p-3 bg-white p-2 w-100 rounded-3 gap-2">
                            <div class="position-relative">
                                <img src="https://theme.hstatic.net/200000823693/1001172883/14/checklist.png?v=978" alt="" width="23px">
                                <span class="countOrders">@(ViewBag.listorder?.Count ?? 0)</span>
                            </div>
                            <p class="m-0">Lịch sử đơn hàng</p>
                        </div>
                    </a>
                </div>
                <div class="col-6">
                    <a href="/taikhoan" class="text-decoration-none text-color">
                        <div class="user w-100 bg-white d-flex flex-column align-items-center justify-content-center p-3 rounded-3 gap-2">
                            <img src="https://theme.hstatic.net/200000823693/1001172883/14/account.png?v=978" alt="" width="23px">
                            <p class="name m-0">
                                Hello,
                                <span class=" text-main fw-bold">
                                    @if (Session["user"] != null)
                                    {
                                        var user = Session["user"] as dynamic;
                                        @user.FirstName
                                    }
                                </span>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 bg-white p-3 mt-2 rounded-3">
                <p class="text-main fw-bold fs-5">
                    Thông tin cá nhân
                </p>
                <div class="info">
                    <p class="mb-1"><b>Họ và tên: @(Model.firstName + " " + @Model.name)</b> </p>
                    <p class="mb-1"><b>Email: @Model.email</b></p>
                    <p class="mb-1"><b>Mobile:  @Model.mobile</b></p>
                    <p class="mb-1"><b>Address: @Model.address</b></p>
                </div>
            </div>

        </div>
        <div class="col-12 col-lg-4 mt-lg-0 mt-3">
            <div class="account-action bg-white p-3 pr-3 rounded-3">
                <div class="item_ac pt-3 pb-3 border-bottom">
                    <span class="text-main fw-bold">
                        <i class="fas fa-user"></i>
                        Thông tin cá nhân
                    </span>
                </div>
                <div class="item_ac pt-3 pb-3 border-bottom">
                    <span class="ml-3 cursor-pointer" style="cursor : pointer" data-bs-toggle="modal" data-bs-target="#exampleModal">Quản lý địa chỉ</span>
                </div>
                <div class="item_ac pt-3 pb-3">
                    <a href="" class="ml-3 logoutAccount text-color text-decoration-none logout-login">
                        <i class="fa-solid fa-arrow-right-from-bracket me-2"></i>Đăng xuất
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered" style="max-width : 600px !important">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fw-bold text-main" id="exampleModalLabel">Cập nhật địa chỉ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 d-flex gap-2">
                        <input type="text" class="field-input p-2 firstname-up" id="exampleInput" placeholder="Firstname">
                        <input type="text" class="field-input p-2 lastname-up" id="exampleInput" placeholder="Lastname">
                    </div>
                    <div class="mb-3 d-flex gap-2">
                        <input type="text" class="field-input p-2 email-up" id="exampleInput" placeholder="Email">
                    </div>
                    <div class="mb-3 d-flex gap-2">
                        <input type="text" class="field-input p-2 mobile-up" id="exampleInputPassword2" placeholder="Số Điện Thoại">
                    </div>
                    <div class="mb-3 d-flex gap-2">
                        <input type="text" class="field-input p-2 address-up" id="exampleInputPassword2" placeholder="Address">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-updateuser">Cập nhật</button>
                </div>
            </div>
        </div>
    </div>
</div>


